## Exercícios – Testar o Jupyter Notebook

In [ ]:
# 1. Criar o arquivo do notebook com o nome teste_spark.ipynb

#2. Obter as informações da sessão de spark (spark)

In [1]:
spark

In [ ]:
# 3. Obter as informações do contexto do spark (sc)

In [2]:
sc

In [ ]:
# 4. Setar o log como INFO.

In [11]:
spark.sparkContext.setLogLevel("INFO")

In [ ]:
# 5. Visualizar todos os banco de dados com o catalog

In [14]:
spark.catalog.listDatabases()

[Database(name='default', description='Default Hive database', locationUri='hdfs://namenode:8020/user/hive/warehouse')]

In [ ]:
# 6. Ler os dados "hdfs://namenode:8020/user/rodrigo/data/juros_selic/juros_selic.json“ com uso de Dataframe

In [18]:
df_juros = spark.read.json("hdfs://namenode:8020/user/daniel/data/exercises-data/juros_selic/juros_selic.json")

In [19]:
df_juros.show(10)

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
|01/11/1986| 2.37|
|01/12/1986| 5.47|
|01/01/1987|11.00|
|01/02/1987|19.61|
|01/03/1987|11.95|
+----------+-----+
only showing top 10 rows

In [ ]:
# 7. Salvar o Dataframe como juros no formato de tabela Hive

In [20]:
df_juros.write.saveAsTable("juros")

In [ ]:
# 8. Visualizar todas as tabelas com o catalog

In [21]:
spark.catalog.listTables()

[Table(name='juros', database='default', description=None, tableType='MANAGED', isTemporary=False)]

In [ ]:
# 10. Ler e visualizar os dados da tabela juros, com uso de Dataframe no formato de Tabela Hive

In [23]:
df_juros_hive = spark.read.table("juros")

In [24]:
df_juros_hive.show(10)

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
|01/11/1986| 2.37|
|01/12/1986| 5.47|
|01/01/1987|11.00|
|01/02/1987|19.61|
|01/03/1987|11.95|
+----------+-----+
only showing top 10 rows

In [ ]:
# 9. Visualizar no hdfs o formato e compressão que está a tabela juros do Hive

In [29]:
! hdfs dfs -ls /user/hive/warehouse/juros

Found 2 items
-rw-r--r--   2 root supergroup          0 2022-06-30 00:55 /user/hive/warehouse/juros/_SUCCESS
-rw-r--r--   2 root supergroup       3883 2022-06-30 00:55 /user/hive/warehouse/juros/part-00000-a9e278d3-c264-4918-a83a-0840c639ce1f-c000.snappy.parquet

In [ ]:
# 11. Ler e visualizar os dados da tabela juros , com uso de Dataframe no formato Parquet

In [26]:
df_juros_parquet = spark.read.parquet("/user/hive/warehouse/juros")

In [27]:
df_juros_parquet.show()

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
|01/11/1986| 2.37|
|01/12/1986| 5.47|
|01/01/1987|11.00|
|01/02/1987|19.61|
|01/03/1987|11.95|
|01/04/1987|15.30|
|01/05/1987|24.63|
|01/06/1987|18.02|
|01/07/1987| 8.91|
|01/08/1987| 8.09|
|01/09/1987| 7.99|
|01/10/1987| 9.45|
|01/11/1987|12.92|
|01/12/1987|14.38|
|01/01/1988|16.78|
+----------+-----+
only showing top 20 rows